<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifikasi</title>

    <style>
        p {
            text-align: left;
            font-size: 14px;
            line-height: 1.5;
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">
    <table role="presentation" style="width: 100%; border: 0; cellspacing: 0; cellpadding: 0; text-align: center;">
        <tr>
            <td style="background-color: #f8f9ff; text-align: center;">
                <table role="presentation"
                    style="margin: auto; background-color: #ffffff; padding: 15px; width: 460px; max-width: 100%;">

                    <tr>
                        <td style="width: 100%;">
                            <p>Hallo, {{.Name}} berikut adalah token verifikasi untuk mereset Kata Sandi pada aplikasi 'HealthTrend':</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h2>{{.Token}}</h2>
                        </td>
                    </tr>

                    <tr>
                        <td>

                            <p>Mohon jaga kerahasiaan token ini dengan baik. Terima kasih telah memilih HealthTrend.
                                Semoga Anda senantiasa diberikan kesehatan. Selamat menjalani hari yang menyenangkan!
                            </p>
                        </td>
                    </tr>
                </table>

                <!-- footer -->
                <!-- <table role="presentation"
                    style="margin: auto; padding: 15px 15px 0 15px; width: 460px; max-width: 100%;">
                    <tr>
                        <img src="" alt=""
                            style="display: block; margin: 0 auto; height: 52px;">
                    </tr>
                </table> -->

                <table role="presentation"
                    style="margin: auto; padding: 0 15px 15px 15px; width: 460px; max-width: 100%;">
                    <tr>
                        <td>
                            <h2 style="color: #0a36b5;">HealthTrend</h2>
                            <p style="text-align: center; font-size: 12px; margin-block: none;">Depok, Indonesia</p>
                        </td>
                    </tr>
                    <tr style="background-color: #0a36b5;">
                        <td style="padding: 10px;"><a href="#"
                                style="color: white; text-decoration: none;">HealthTrend</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>